<div class="list row searchbar">
  <div class="col-md-12 ">
    <div class="input-group mb-3 ">
      <input type="text" class="form-control " placeholder="Search by title" [(ngModel)]="title" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" (click)="searchTitle()">
          Search
        </button>
      </div>
    </div>
  </div>



    <div class="container">
      <div class="row">
        <div class="col-lg">
          <div class="card-deck" >
            <div class="card" *ngFor="let Book of books; let i = index" [class.active]="i == currentIndex">
              <img class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/002/219/582/original/illustration-of-book-icon-free-vector.jpg" height="250em" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ Book.title }}</h5>
                <p class="card-text">{{Book.description}}</p>
                <p class="card-text"><small class="text-muted">By {{Book.author}} in {{Book.publisher}}</small></p>
              </div>
        </div>
      </div>
    </div>
