<div class="body">

  <div class="submit-form">
    <h2 style="text-align: center;">Add Books</h2>
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="Book.title" name="title" />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" id="description" required [(ngModel)]="Book.description" name="description" />
      </div>

      <div class="form-group">
        <label for="description">Author</label>
        <input class="form-control" id="description" required [(ngModel)]="Book.author" name="description" />
      </div>

      <div class="form-group">
        <label for="description">Year</label>
        <input class="form-control" id="description" required [(ngModel)]="Book.year" name="description" />
      </div>

      <div class="form-group">
        <label for="description">Publisher</label>
        <input class="form-control" id="description" required [(ngModel)]="Book.publisher" name="description" />
      </div>

      <button (click)="saveBook()" class="btn btn-success">Submit</button>
    </div>
    <app-image-upload></app-image-upload>

    <div *ngIf="submitted">
      <h4>New Book was added successfully!</h4>
      <button class="btn btn-success" (click)="newBook()">Add</button>
    </div>
  </div>

</div>



<div style="height: 100px;">
  <p>j</p>

</div>
