<div *ngIf="viewMode; else editable">
  <div *ngIf="currentBook.id">
    <h4>Book</h4>
    <div>
      <label><strong>Title:</strong></label> {{ currentBook.title }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentBook.description }}
    </div>
    <div>
      <label><strong>Author: </strong></label>
      {{ currentBook.author }}
    </div>

    <div>
      <label><strong>Year:</strong></label>
      {{ currentBook.publisher}}
    </div>

    <div>
      <label><strong>Status:</strong></label>
      {{ currentBook.publisher ? "Published" : "Pending" }}
    </div>

    <a class="btn btn-warning" routerLink="/books/{{ currentBook.id }}">
      Edit
    </a>
  </div>

  <div *ngIf="!currentBook">
    <br />
    <p>Please click on a Book...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentBook.id" class="edit-form">
    <h4>Book</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="currentBook.title" name="title" />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="currentBook.description"
          name="description" />
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" [(ngModel)]="currentBook.author" name="author" />
      </div>

      <div class="form-group">
        <label for="year">Year</label>
        <input type="text" class="form-control" id="year" [(ngModel)]="currentBook.publisher" name="publisher" />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentBook.publisher ? "Published" : "Pending" }}
      </div>
    </form>

    <button class="btn btn-primary mr-2" *ngIf="currentBook.publisher" (click)="updatePublished(false)">
      UnPublish
    </button>
    <button *ngIf="!currentBook.publisher" class="btn btn-primary mr-2" (click)="updatePublished(true)">
      Publish
    </button>

    <button class="btn btn-danger mr-2" (click)="deleteBook()">Delete</button>

    <button type="submit" class="btn btn-success mr-2" (click)="updatePublished(true)">
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentBook.id">
    <br />
    <p>Cannot access this Book...</p>
  </div>
</ng-template>

<div style="height: 250px">
  <p></p>
</div>
