
<div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="https://i.ibb.co/RB2YF5K/logo-dark.png" height="60" alt="" />
          <p>The Book Den is a quaint and cozy haven for bibliophiles. Here, you'll find a vast collection of books, covering a range of genres, topics, and interests. Whether you're looking for a classic novel, a cookbook, a travel guide, or a children's storybook, you're sure to find something that piques your curiosity</p>
        </div>
        <div class="col-md-4 text-center d-none d-md-block">
          <ul class="navbar-nav">
            <li class="item">
              <a routerLink="/home" class="nav-link">Home</a>
            </li>
            <li class="item">
              <a routerLink="/books" class="nav-link">Books</a>
            </li>
            <li class="item">
              <a href="/jobs" class="nav-link" routerLink="jobs">About</a>
            </li>
            <li class="item">
              <a href="/jobs" class="nav-link" routerLink="jobs">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 text-right contact-section">
          <div class="row contact-data">
            <div class="col-5 d-none d-lg-block"></div>
            <div class="col-1">
              <i class="fas fa-map-marker"> </i>
            </div>
            <div class="col-6">
              <p class="contact">
                234/3 Pitipana South,Homagama.
              </p>
            </div>
          </div>
          <div class="row contact-data">
            <div class="col-5 d-none d-lg-block"></div>
            <div class="col-1">
              <i class="fas fa-envelope"> </i>
            </div>
            <div class="col-6">
              <p class="contact">
               Thebookden@gmail.co
              </p>
            </div>
          </div>
          <div class="row contact-data">
            <div class="col-5 d-none d-lg-block"></div>
            <div class="col-1">
              <i class="fas fa-phone"> </i>
            </div>
            <div class="col-6">
              <p class="contact">
                (+94) 71 262 0164
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <p>© 2022 TheBookden Inc.</p>
          </div>
          <div class="col-6 mydata">
            <p>N.M.H Rasuwan - 10748101 - PUSL3120</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
