label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 500px !important;
  padding: 40px 40px;
border-radius: 10px;

}

.card {
  background: linear-gradient(0deg, rgba(0, 0, 7, 0) 0%, rgba(0, 0, 49, 0) 0%, rgba(9, 12, 53, 0) 0%);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.login-bg{
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgb(0, 0, 7) 0%, rgb(0, 0, 49) 57%, rgb(9, 12, 53) 100%);
  background-size: cover;
  height: 750px;
  padding: 50px;
  margin-bottom: -20px;

}

label{
  color: aliceblue;
  }

  h3{
    color: aliceblue;
    }
